{{#index}}
<section class="index not-visible" data-route="{{slug}}">
	<div class="block full-height full-width block black-text transparent-background">
		<div class="vertical-center-container">
			<h1>Hello!</h1>
			<h5>My name is Alex Bergin. <span>I'm a</span> <span>web developer</span> and designer living in <span>Los Angeles.</span></h5>
		</div>
		<div class="scroll-indicator"></div>
	</div>
	{{#layout}}
		{{#columns}}
		<div class="block no-padding full-width transparent-background {{left.background}}-left-background {{right.background}}-right-background">
			{{#left}}
			<div class="column {{background}}-background {{style}}">
				{{> partials/contents }}
			</div>
			{{/left}}
			{{#right}}
			<div class="column {{background}}-background {{style}}">
				{{> partials/contents }}
			</div>
			{{/right}}
		</div>
		{{/columns}}
		{{#block}}
		<div class="block no-padding full-width transparent-background">
			<div class="block {{style}}">
				{{> partials/contents }}
			</div>
		</div>
		{{/block}}
	{{/layout}}
</section>
{{/index}}